<div>
    <h3 tabindex='0' class='instructionsTitle'>In addition to the mouse you may:</h3>
    <ul id='instructionsList'>
        <li tabindex='0'>Use <myKey>Tab key</myKey> to navigate from item to item.</li>
        <li tabindex='0'>Use <myKey>SHIFT Tab</myKey> to navigate backwards.</li>
        <li tabindex='0'>Hit <myKey>SPACE&nbsp;bar</myKey> to toggle a focused check box.</li>
        <li tabindex='0'>Press <myKey>ENTER</myKey> to activate the focused item.</li>
        <li tabindex='0'>Press <myKey>Alt + Arrow-Down</myKey> to expand a combo box.</li>
        <li tabindex='0'>Use <myKey>Alt</myKey> with a number to fast navigate (hint will display.)</li>
        <li tabindex='0'>Use <myKey>ESCAPE</myKey> to go to the parent of the focus element.</li>
    </ul>
</div>