<div>
    <h3 tabindex='0' class='instructionsTitle'>Outre la souris, vous pouvez utiliser les raccourcis suivants:</h3>
    <ul id='instructionsList'>
        <li tabindex='0'>La touche <myKey>Tab</myKey> pour naviguer d’un élément à l’autre.</li>
        <li tabindex='0'><myKey>MAJ Tab</myKey> pour naviguer vers l’arrière.</li>
        <li tabindex='0'>La barre <myKey>ESPACEMENT</myKey> pour activer une sélection plus précise.</li>
        <li tabindex='0'>La touche <myKey>ENTRÉE</myKey> pour activer l’élément choisi.</li>
        <li tabindex='0'>Appuyer sur <myKey>Alt + flèche vers le bas</myKey> pour ouvrir une liste déroulante.</li>
        <li tabindex='0'>La touche <myKey>Alt</myKey> avec un numéro pour naviguer rapidement (l’indice s’affiche).</li>
        <li tabindex='0'>La touche <myKey>ÉCHAPPEMENT</myKey> pour aller au point de départ de l’élément choisi.</li>
    </ul>
</div>