.ImageToggleButton {
	display: inline-block;
	line-height: 10px;
}

.ImageToggleButton img {
    width: 23px;
    height: 23px; 
    margin: 0px 1px;
    padding: 3px;
}

.ImageToggleButton label.cbToggleBtn {
	display:inherit;
	margin: 1px 1px 0 1px;
}

.ImageToggleButton .cbToggleBtn {
    display:none;
}

.ImageToggleButton input.cbToggleBtn + label.cbToggleBtn img.UnselectedToggleImg,
.ImageToggleButton input.cbToggleBtn:checked + label.cbToggleBtn img.SelectedToggleImg
{
    display: block;
}

.ImageToggleButton input.cbToggleBtn:checked + label.cbToggleBtn img.UnselectedToggleImg,
.ImageToggleButton input.cbToggleBtn + label.cbToggleBtn img.SelectedToggleImg
{
    display: none;
}

.toggleBtnMessage {
    position: absolute;
    display: none;
    padding: 10px;
    z-index: 10000;
    position: absolute;
    bottom: 10px;
    left: 10px;}

.toggleBtnMessage.normal {
    background-color: white;
    color: black;
    display: inline;
}
.toggleBtnMessage.warning {
    background-color: orange;
    color: black;
    display: inline;
}
.toggleBtnMessage.error {
    background-color: red;
    color: white;
    display: inline;
}
