<div id="${id}" class='ImageToggleButton' role='button'${_class}>
	<input type="${defaults.type}" id="${id}_cb" class="cbToggleBtn"${name}${_value}></input>
	<label for="${id}_cb" id="${id}_lbl" class="cbToggleBtn" tabindex="0">
		<img src="${defaults.imgUnselected}" alt="" title="${defaults.titleUnselected}" class="${defaults.imgUnselectedClass} ${defaults.imgClass} UnselectedToggleImg" />
		<img src="${defaults.imgSelected}" alt="" title="${defaults.titleSelected}" class="${defaults.imgSelectedClass} ${defaults.imgClass} SelectedToggleImg"/>
	</label>
</div>