.nav {
  padding: 5px 10px;
  border: solid 1px grey;
  text-decoration: none;
}

#header {
    text-align: center;
    height: 60px;
    border-bottom: solid 1px #ccc;
}

.popupInfoHeader {
    color: white;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 15px;
}

.popupInfoHeader * {
	  display: inline;
}

.popupInfoHeader img {
	  height: 12px;
    width: 12px;
}

.titleButton {
	  width: 12px;
    height: 12px;
    display: inline-block !important;
}

.next {
	  content: "\e808";
}

.esriViewPopup .mainSection .attrTable td.attrName {
  color: black;
}

.esriViewPopup .mainSection .attrTable td.attrValue {
  color: black;
  font-weight: bold;
}

#search_more_results_show {
    display: none;
}

.arcgisSearch .moreResults .resultsList {
    display: block;
}

h3.moreItem,
h4.popupHeader {
    margin: 0; 
    padding: 3px;
}

h4.popupHeader {
    font-size: smaller;
}

#search_more_results_list ol {
    margin: 0 0 8px 0;
}

.locatorScore {
    position: absolute;
    bottom: 10px;
}