<div id="popupInfoHeader" tabindex=0>
	<div id="pagerHeader" tabindex=0><span>1/10</span>
		<img src="images/icons_white/downArrow.png" alt="close" title="Close" tabindex=0 style="transform: rotate(90deg);"/>
		<img src="images/icons_white/downArrow.png" alt="close" title="Close" tabindex=0 style="transform: rotate(-90deg);"/>
	</div>
	<!-- <div class="titleButton prev" title="Next feature" style="color: white;" tabindex=0></div>
	<div class="titleButton next" title="Next feature" style="color: white;" tabindex=0></div> -->
	<div tabindex=0>pan zoom toMap</div>
	<img src="images/icons_white/searchClear.png" alt="close" title="Close" tabindex=0/>
</div>