<div class="popupInfoHeader">
	<div id="popupMessage" tabindex=0>${_i18n.widgets.popupInfo.noFeatures}</div>
	<div id="popupControls" style="display:none">
		<div id="popupPager">
			<div>
				<span id="featureIndex" title="${_i18n.widgets.popupInfo.current}"></span><span> / </span><span id="totalFeatures" title="${_i18n.widgets.popupInfo.total}" >0</span>
			</div>
			<img src="images/icons_white/downArrow.png" alt="Prev" aria-label="${_i18n.widgets.popupInfo.Prev}" title="${_i18n.widgets.popupInfo.Prev}" tabindex=0 style="transform: rotate(90deg);" class="popupInfoButton prev" role="button"/>
			<img src="images/icons_white/downArrow.png" alt="Next" aria-label="${_i18n.widgets.popupInfo.Next}" title="${_i18n.widgets.popupInfo.Next}" tabindex=0 style="transform: rotate(-90deg);" class="popupInfoButton next" role="button"/>
		</div>
		<img src="images/icons_white/ZoomPlus.png" alt="Zoom" aria-label="${_i18n.widgets.popupInfo.zoomTo}" title="${_i18n.widgets.popupInfo.zoomTo}" tabindex=0 class="popupInfoButton zoom" role="button"/>
		<img src="images/icons_white/ToMap.png" alt="Skip" aria-label="${_i18n.widgets.popupInfo.map}" title="${_i18n.widgets.popupInfo.map}" tabindex=0  class="popupInfoButton map" role="button"/>
		<img src="images/icons_white/searchClear.png" alt="Clear" aria-label="${_i18n.widgets.popupInfo.clear}" title="${_i18n.widgets.popupInfo.clear}" tabindex=0 class="popupInfoButton clear" role="button"/>
	</div>
</div>