<div id="popupInfoWraper" >
    <div id="featureCount" style="margin-bottom:5px;">Click to select feature</div>
    <div id="pager"> 
      	<a href='javascript:void(0);' id ="prev" class='nav' title="${_i18n.popupInfo.Prev}" data-dojo-attach-event="onclick: selectPrevious">${_i18n.popupInfo.Prev}</a>
      	<a href='javascript:void(0);' id="next" class='nav' title="${_i18n.popupInfo.Next}" data-dojo-attach-event="onclick: selectNext">${_i18n.popupInfo.Next}</a>
    </div>
    <div id='content'></div>
</div>