<div class="popupInfoHeader" tabindex=0>
	<div id="popupMessage" style="display:initial">${_i18n.widgets.popupInfo.noFeatures}</div>
	<div id="popupControls" style="display:none">
		<div id="popupPager" style="display:initial">
			<div tabindex=0>
				<span id="featureIndex" title="${_i18n.widgets.popupInfo.current}"></span><span> / </span><span id="totalFeatures" title="${_i18n.widgets.popupInfo.total}" >0</span>
			</div>
			<img src="images/icons_white/downArrow.png" alt="Prev" title="${_i18n.widgets.popupInfo.Prev}" tabindex=0 style="transform: rotate(90deg);" data-dojo-attach-event="onclick: selectPrevious" class="popupInfoButton prev"/>
			<img src="images/icons_white/downArrow.png" alt="Next" title="${_i18n.widgets.popupInfo.Next}" tabindex=0 style="transform: rotate(-90deg);"  data-dojo-attach-event="onclick: selectNext" class="popupInfoButton next"/>
		</div>
		<img src="images/icons_white/ZoomPlus.png" alt="Zoom" title="${_i18n.widgets.popupInfo.zoomTo}" tabindex=0 data-dojo-attach-event="onclick:zoomTo" class="popupInfoButton zoom"/>
		<img src="images/icons_white/ToMap.png" alt="Skip" title="${_i18n.widgets.popupInfo.map}" tabindex=0 data-dojo-attach-event="onclick:toMap" class="popupInfoButton map"/>
		<img src="images/icons_white/searchClear.png" alt="Clear" title="${_i18n.widgets.popupInfo.clear}" tabindex=0 data-dojo-attach-event="onclick:clearFeatures" class="popupInfoButton clear"/>
	</div>
</div>