@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Ubuntu+Mono');

.myBorderContainer {
  width: 100% !important;
  height: 100% !important; 
  overflow: hidden;
  padding:0px;
}

.esri-feature-table .dgrid-row-even {
    background-color: white; /*#dadada;*/
}

.esri-feature-table .dgrid-row-odd {
    background-color: white;
}

.esri-feature-table .dgrid-row {
    border-bottom: 1px gray solid;
}

.esri-feature-table .dgrid-row .dgrid-cell {
    border-right: 1px solid gray;
    padding: 3px;
}

.esri-feature-table .esri-feature-table-menu {
    background-color: #767676;
    color: black;
}

.esri-feature-table .dgrid-header .dgrid-cell {
    border-right: 1px solid gray;
    color: #000000;
    /*font-size: 14px;*/
}

.esri-feature-table {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-stretch: condensed;
    color:black;
}

.esri-feature-table-menu-item .dijitMenuItemLabel {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    /*color:black;*/
}

.esri-feature-table .dgrid-header .dgrid-cell {
    font-weight: bold;
}

.esri-feature-table .esri-feature-table-menu .dijitDropDownButton .dijitButtonNode {
    color: black !important;
}

.dgrid-pagination .dgrid-navigation, .dgrid-pagination .dgrid-page-size {
    font-family: 'Roboto Condensed', sans-serif;
}

.esri-feature-table .esri-feature-table-menu .dijitDropDownButton .dijitButtonNode:hover {
    color: white !important;
}

.esri-feature-table .ui-state-active {
    background-color: rgba(196, 230, 255, 0.68);
}

.esri-feature-table-loading-indicator {
    background-image: none;
    height: 30px;
    width: 30px;
    left: 50%;
    position: absolute;
}

.esri-feature-table-column-header-type {
    color: black;
    float: left;
    font-size: xx-small;
}

.dgrid-pagination .dgrid-page-disabled, .has-ie-6-7 .dgrid-navigation .dgrid-page-disabled, .has-ie.has-quirks .dgrid-navigation .dgrid-page-disabled {
    color: #6c6c6c;
}

.dgrid-no-data {
    color: white;
    padding: 10px;
    font-size: 20px;
}

.esri-feature-table .dgrid-header .dgrid-cell {
    background-color: silver;
}

.esri-feature-table-title {
    color: white;
}

.esri-feature-table .esri-feature-table-menu .dijitDropDownButton .dijitButtonContents {
    margin: 1px;
}

#featureTableTools {
    float:left;
}

#featureTableEndTools {
    float:right;
    padding: 2px 0;
}

#featureTableEndTools img {
    vertical-align: text-bottom;
    opacity: 0.25;
    margin-left: 4px;
    width: 20px;
    height: 20px;
}

.esri-feature-table-menu-options {
    padding-right: 0;
}

#featureTableEndTools img:hover {
    opacity: 1;
}

.esri-feature-table .dijitArrowButtonInner {
    width:auto;
    height:auto;
}

.esri-feature-table .dijitButtonText {
    padding: 4px;
    font-weight: bold;
}

.esri-feature-table .dijitArrowButtonInner img,
.esri-feature-table .titleDivDiv img {
    width: 12px;
    height: 12px;
    padding: 2px;
    vertical-align: middle;
    opacity: 0.25;
}

.esri-feature-table .dijitArrowButtonInner img:hover,
.esri-feature-table .titleDivDiv img:hover {
    opacity: 1;
}
div#featureTableContainer {
    padding: 0;
}