<div class="address-tooltip bg shadow" style="background:${themeColor}; top:250px; left:100px;">
	<div class="address-tooltip__spike address-tooltip__spike--NE">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path class="shadow" fill="${themeColor}" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 12 L 0 0 12 12" d="M 0 12L 0 0 12 12" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div class="address-tooltip__spike address-tooltip__spike--NW">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path class="shadow" fill="${themeColor}" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 12 L 12 0 12 12" d="M 0 12L 12 0 12 12" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div class="address-tooltip__spike address-tooltip__spike--SE">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path class="shadow" fill="white" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 0 L 0 12 12 0" d="M 0 0 L 0 12 12 0" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div class="address-tooltip__spike address-tooltip__spike--SW">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path class="shadow" fill="white" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 0 L 12 12 12 0" d="M 0 0 L 12 12 12 0" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div id="addrHintTitle" class="address-tooltip__title" tabindex=0
	style="background:${themeColor}; color:white;">abcdefghijklimnopqrstuvwxyz</div>
	<div id="addrHintContent" class="address-tooltip__content" tabindex=0>abcdefghijklimnopqrstuvwxyz<br/>abcdefghijklimnopqrstuvwxyz</div>
</div>