<div class="address-tooltip bg">
	<div class="address-tooltip__spike address-tooltip__spike--NE">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path fill="rgb(0, 77, 168)" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 12 L 0 0 12 12" d="M 0 12L 0 0 12 12" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div class="address-tooltip__spike address-tooltip__spike--NW">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path fill="rgb(0, 77, 168)" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 12 L 0 0 12 12" d="M 0 12L 0 0 12 12" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div class="address-tooltip__spike address-tooltip__spike--SE">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path fill="white" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 12 L 0 0 12 12" d="M 0 12L 0 0 12 12" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div class="address-tooltip__spike address-tooltip__spike--SW">
		<svg overflow="hidden" width="20" height="20">
			<defs></defs>
			<path fill="white" fill-opacity="1" stroke="black" stroke-opacity="1" stroke-width="1" stroke-linecap="but" stroke-linejoin="miter" stroke-miterlimit="4" path="M 0 12 L 0 0 12 12" d="M 0 12L 0 0 12 12" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid">
			</path>
		</svg>
	</div>

	<div id="addrHintTitle" class="address-tooltip__title" tabindex=0
	style="background:navy; color:white;"></div>
	<div id="addrHintContent" class="address-tooltip__content" tabindex=0></div>
</div>