<div class="popupInfoHeader" id="${popupHeaderId}">
	<div id="geoCodingControls">
		<img src="images/icons_${iconColor}/TooltipBtn1.png" alt="Tooltips" aria-label="${_i18n.widgets.geoCoding.tooltips}" title="${_i18n.widgets.geoCoding.tooltips}" tabindex=0 class="popupInfoButton tooltips activeBg" role="button"/>
		<img src="images/icons_${iconColor}/ZoomPlus.png" alt="Zoom" aria-label="${_i18n.widgets.geoCoding.zoomTo}" title="${_i18n.widgets.geoCoding.zoomTo}" tabindex=0 class="popupInfoButton zoom" role="button"/>
		<img src="images/icons_${iconColor}/ToMap.png" alt="Skip" aria-label="${_i18n.widgets.popupInfo.map}" title="${_i18n.widgets.popupInfo.map}" tabindex=0  class="popupInfoButton map" role="button"/>
		<img src="images/icons_${iconColor}/searchClear.png" alt="Clear" aria-label="${_i18n.widgets.popupInfo.clear}" title="${_i18n.widgets.popupInfo.clear}" tabindex=0 class="popupInfoButton clear" role="button"/>
	</div>
</div>