.addressInfo th {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

.addressInfo td {
	vertical-align: top;
	font-weight: bold;
}

.esriViewPopup img {
	width: 24px;
    height: 24px;
    right: 10px;
    position: absolute;
    top: 4px;
}