.grad {
    background: gray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, white, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, black); /* Standard syntax (must be last) */
}


/*https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/*/

input[type=range] {
  -webkit-appearance: none;
  /*margin: 18px 0;
  width: 100%;*/
  background-color:transparent;
}
input[type=range]:focus {
  /*outline: none;*/
  outline-offset: 4px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background-color: transparent;
  border-radius: 4px;
  border: 0.2px solid gray;
}
input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1px solid black;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid gray;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    box-shadow: 1px 1px 1px gray, 0px 0px 1px gray;
    background: gray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, white, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, black); /* Standard syntax (must be last) */
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: gray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, white, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, black); /* Standard syntax (must be last) */
}
input[type=range]:focus::-ms-fill-upper {
    background: gray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, white, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, black); /* Standard syntax (must be last) */
}

