<div class="_filter _number">
	<select autofocus tabindex=0 
		data-dojo-attach-event="onchange: criteriaChanged"
		data-dojo-attach-point="criteria"
		class="filterCriteria"
		>
		<option value=" = ">${_i18n.widgets.FilterItem.equal}</option>			
		<option value=" != ">${_i18n.widgets.FilterItem.notEqual}</option>
		<option value=" < ">${_i18n.widgets.FilterItem.lessThen}</option>
		<option value=" > ">${_i18n.widgets.FilterItem.moreThen}</option>
		<option value=" BETWEEN ">${_i18n.widgets.FilterItem.between}</option>
		<option value=" NOT BETWEEN ">${_i18n.widgets.FilterItem.notBetween}</option>			
	</select>
	<input type="textbox" 
	id="${id1}"
	data-dojo-attach-point="minValue" 
	aria-label="${_i18n.widgets.FilterItem.enterValueToMatch}"
	title="${_i18n.widgets.FilterItem.enterValueToMatch}"
	data-dojo-type="dijit/form/ValidationTextBox"
    data-dojo-props="regExp:'${format}', invalidMessage:'${_i18n.widgets.FilterItem.invalidNumber}',
    missingMessage:'${_i18n.widgets.FilterItem.enterValueToMatch}'"
    required='true'/>
	<div style="display:none;" data-dojo-attach-point="divMaxValue">
		<input type="textbox" 
		id="${id2}"
		data-dojo-attach-point="maxValue" 
		aria-label="${_i18n.widgets.FilterItem.enterLastValue}" 
		title="${_i18n.widgets.FilterItem.enterLastValue}"
		data-dojo-type="dijit/form/ValidationTextBox"
	    data-dojo-props="regExp:'${format}', invalidMessage:'${_i18n.widgets.FilterItem.invalidNumber}',
    	missingMessage:'${_i18n.widgets.FilterItem.enterLastValue}'"
    	required='true'/>
	</div>
	<div class='showErrors' style="display:none;"></div>
</div>